repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: 'v0.5.1'
  hooks:
    # Run the formatter.
    - id: ruff-format
    # Run the linter.
    - id: ruff
      args: [--fix]
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: 'v1.10.1'
  hooks:
    - id: mypy
      additional_dependencies: ['polars==1.1.0', 'pytest==8.0.1']
      exclude: utils|tpch
- repo: https://github.com/codespell-project/codespell
  rev: 'v2.3.0'
  hooks:
    - id: codespell
      files: \.(py|rst|md)$
      args: [--ignore-words-list=ser]
- repo: local
  hooks:
    - id: check-api-reference
      name: check-api-reference
      pass_filenames: false
      entry: python -m utils.check_api_reference
      language: python
      additional_dependencies: [polars]
    - id: imports-are-banned
      name: import are banned (use `get_pandas` instead of `import pandas`)
      entry: (?<!>>> )import (pandas|polars|modin|cudf|pyarrow)
      language: pygrep
      files: ^narwhals/
      exclude: ^narwhals/dependencies\.py
    - id: check-arrow-backend-completeness
      name: check-arrow-backend-completeness
      pass_filenames: false
      entry: python -m utils.check_backend_completeness
      language: python
    # - id: generate-backend-completeness
    #   name: generate-backend-completeness
    #   pass_filenames: false
    #   entry: python -m utils.generate_backend_completeness
    #   language: python
    #   additional_dependencies: [polars, jinja2]
- repo: https://github.com/kynan/nbstripout
  rev: 0.7.1
  hooks:
    - id: nbstripout
