ci:
  autoupdate_schedule: monthly
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: 'v0.14.11'
  hooks:
    # Run the formatter.
    - id: ruff-format
    # Run the linter.
    - id: ruff-check
      args: [--fix]
    - id: ruff
      name: check-docstrings
      alias: check-docstrings
      entry: python utils/check_docstrings.py
- repo: https://github.com/codespell-project/codespell
  rev: 'v2.4.1'
  hooks:
    - id: codespell
      files: \.(py|rst|md)$
      args: [--ignore-words-list=ser]
      exclude: ^docs/api-completeness.md$
- repo: https://github.com/adhtruong/mirrors-typos
  # Use mirror to avoid autoupdate issue: https://github.com/crate-ci/typos/issues/390
  rev: 'v1.42.0'
  hooks:
    - id: typos
-   repo: https://github.com/pycqa/flake8
    rev: '7.3.0'
    hooks:
    -   id: flake8
        # TODO(unassigned): replace with ruff once https://github.com/astral-sh/ruff/issues/458 is addressed.
        name: darglint
        alias: darglint
        entry: flake8 --select DAR --ignore DAR101,DAR201,DAR401,DAR402
        exclude: |
            (?x)^(
                tests/.*|
                # TODO: gradually enable
                narwhals/dependencies\.py|
                # Private, so less urgent to document too well
                narwhals/_.*|
                # Internal use only, less urgent
                ^utils/.*|
                # Soft-deprecated, so less crucial to document so carefully
                narwhals/stable/v1/.*
            )$
        # Keep in sync with `flake8-typing-imports` so the same venv is reused.
        additional_dependencies: [darglint==1.8.1, flake8-typing-imports==1.17.0]
    -   id: flake8
        # TODO(unassigned): replace with ruff once https://github.com/astral-sh/ruff/issues/2302 is addressed.
        name: flake8-typing-imports
        alias: flake8-typing-imports
        entry: flake8 --select TYP --min-python-version=3.9.0
        # Keep in sync with `darglint` so the same venv is reused.
        additional_dependencies: [darglint==1.8.1, flake8-typing-imports==1.17.0]
- repo: local
  hooks:
    - id: check-api-reference
      name: check-api-reference
      pass_filenames: false
      entry: python -m utils.check_api_reference
      language: python
      additional_dependencies: [polars]
    - id: sort-api-reference
      name: sort-api-reference
      pass_filenames: false
      entry: python -m utils.sort_api_reference
      language: python
    - id: check-slotted-classes
      name: check-slotted-classes
      pass_filenames: false
      entry: python -m utils.check_slotted_classes
      language: python
    - id: imports-are-banned
      name: import are banned (use `get_pandas` instead of `import pandas`)
      entry: python utils/import_check.py
      language: python
      files: ^narwhals/
      exclude: ^narwhals/dependencies\.py
    - id: self-self
      name: don't annotate `self` argument using `Self`
      entry: "self: Self"
      language: pygrep
      files: ^narwhals/
    - id: dtypes-import
      name: don't import from narwhals.dtypes (use `Version.dtypes` instead)
      entry: |
          (?x)
            import\ narwhals(\.stable\.v\d)?\.dtypes|
            from\ narwhals(\.stable\.v\d)?\ import\ dtypes|
            ^from\ narwhals(\.stable\.v\d)?\.dtypes\ import
              \ (DType,\ )?
              ((Datetime|Duration|Enum)(,\ )?)+
              ((,\ )?DType)?
      language: pygrep
      files: ^narwhals/
      exclude: |
        (?x)
          ^(
            narwhals/_utils\.py|
            narwhals/stable/v./_?dtypes.py|
            narwhals/.*__init__.py|
            narwhals/.*typing\.py
          )
    - id: pull-request-target
      name: don't use `pull_request_target`
      entry: pull_request_target
      language: pygrep
      files: ^\.github/workflows/
- repo: https://github.com/adamchainz/blacken-docs
  rev: "1.20.0"  # replace with latest tag on GitHub
  hooks:
  -   id: blacken-docs
      args: [--skip-errors]
      additional_dependencies:
      - black==22.12.0
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  -   id: name-tests-test
      exclude: |
        (?x)
          ^(tests/utils\.py)
          |^(test_plugin/)
  -   id: no-commit-to-branch
  -   id: end-of-file-fixer
      exclude: .svg$
