site_name: Narwhals
repo_url: https://github.com/narwhals-dev/narwhals.git
nav:
  - Home: index.md
  - Why: why.md
  - Installation: installation.md
  - Quick start: quick_start.md
  - Tutorial:
    - basics/dataframe.md
    - basics/column.md
    - basics/complete_example.md
  - Other concepts:
    - other/pandas_index.md
  - overhead.md
  - extending.md
  - how_it_works.md
  - Roadmap: roadmap.md
  - Related projects: related.md
  - API Reference:
    - api-reference/dataframe.md
    - api-reference/expressions.md
    - api-reference/expressions_dt.md
    - api-reference/expressions_str.md
    - api-reference/group_by.md
    - api-reference/lazyframe.md
    - api-reference/series.md
    - api-reference/series_dt.md
    - api-reference/series_str.md
    - api-reference/dependencies.md
    - api-reference/dtypes.md
    - api-reference/index.md
    - api-reference/narwhals.md
    - api-reference/selectors.md
theme:
  name: material
  font: false
  features:
    - content.code.copy
    - content.code.annotate
    - navigation.footer
    - navigation.indexes
plugins:
- search
- mkdocstrings:
    handlers:
      python:
        import:
        - https://installer.readthedocs.io/en/stable/objects.inv
        rendering:
          show_signature_annotations: true
markdown_extensions:
- md_in_html
- pymdownx.tabbed:
    alternate_style: true
- pymdownx.superfences:
    custom_fences:
    - name: python
      class: python
      validator: !!python/name:markdown_exec.validator
      format: !!python/name:markdown_exec.formatter
