site_name: Narwhals
repo_url: https://github.com/narwhals-dev/narwhals.git
watch:
  - narwhals
nav:
  - Home: index.md
  - Why: why.md
  - Installation: installation.md
  - Quick start: quick_start.md
  - Tutorial:
    - basics/dataframe.md
    - basics/column.md
    - basics/complete_example.md
  - Other concepts:
    - other/pandas_index.md
  - levels.md
  - overhead.md
  - backcompat.md
  - extending.md
  - how_it_works.md
  - Roadmap: roadmap.md
  - Related projects: related.md
  - API Reference:
    - api-reference/narwhals.md
    - api-reference/dataframe.md
    - api-reference/expressions.md
    - api-reference/expressions_cat.md
    - api-reference/expressions_dt.md
    - api-reference/expressions_str.md
    - api-reference/group_by.md
    - api-reference/lazyframe.md
    - api-reference/schema.md
    - api-reference/series.md
    - api-reference/series_cat.md
    - api-reference/series_dt.md
    - api-reference/series_str.md
    - api-reference/dependencies.md
    - api-reference/dtypes.md
    - api-reference/index.md
    - api-reference/selectors.md
    - api-reference/typing.md
theme:
  name: material
  font: false
  features:
    - content.code.copy
    - content.code.annotate
    - navigation.footer
    - navigation.indexes
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
plugins:
- search
- mkdocstrings:
    handlers:
      python:
        import:
        - https://installer.readthedocs.io/en/stable/objects.inv
        rendering:
          show_signature_annotations: true
markdown_extensions:
- md_in_html
- pymdownx.tabbed:
    alternate_style: true
- pymdownx.superfences:
    custom_fences:
    - name: python
      class: python
      validator: !!python/name:markdown_exec.validator
      format: !!python/name:markdown_exec.formatter
