site_name: Narwhals
repo_url: https://github.com/narwhals-dev/narwhals.git
watch:
  - narwhals
nav:
  - Home: index.md
  - Why: why.md
  - Installation and quick start: installation.md
  - Tutorial:
    - basics/dataframe.md
    - basics/series.md
    - basics/complete_example.md
    - basics/dataframe_conversion.md
  - Pandas-like concepts:
    - pandas_like_concepts/pandas_index.md
    - pandas_like_concepts/user_warning.md
    - pandas_like_concepts/column_names.md
    - pandas_like_concepts/boolean.md
  - Overhead: overhead.md
  - Perfect backwards compatibility policy: backcompat.md
  - Supported libraries and extending Narwhals: extending.md
  - How it works: how_it_works.md
  - Ecosystem: ecosystem.md
  - Security: security.md
  - Resources: resources.md
  - API Completeness:
    - api-completeness/index.md
    - Supported DataFrame methods: api-completeness/dataframe.md
    - Supported LazyFrame methods: api-completeness/lazyframe.md
    - Supported Expr methods: api-completeness/expr.md
    - Supported Series methods: api-completeness/series.md
  - API Reference:
    - api-reference/index.md
    - api-reference/narwhals.md
    - api-reference/dataframe.md
    - api-reference/expr.md
    - api-reference/expr_cat.md
    - api-reference/expr_dt.md
    - api-reference/expr_list.md
    - api-reference/expr_name.md
    - api-reference/expr_str.md
    - api-reference/group_by.md
    - api-reference/lazy_group_by.md
    - api-reference/lazyframe.md
    - api-reference/schema.md
    - api-reference/series.md
    - api-reference/series_cat.md
    - api-reference/series_dt.md
    - api-reference/series_list.md
    - api-reference/series_str.md
    - api-reference/dependencies.md
    - api-reference/dtypes.md
    - api-reference/exceptions.md
    - api-reference/selectors.md
    - api-reference/typing.md
  - This: this.md
theme:
  name: material
  font: false
  favicon: assets/logo.svg
  logo: assets/logo.svg
  features:
    - content.code.copy
    - content.code.annotate
    - navigation.footer
    - navigation.indexes
    - navigation.top
  palette:   
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference


plugins:
- search
- mkdocstrings:
    handlers:
      python:
        import:
        - https://installer.readthedocs.io/en/stable/objects.inv
        rendering:
          show_signature_annotations: true
        options:
          members_order: alphabetical
    enable_inventory: true

hooks:
- utils/generate_backend_completeness.py
- utils/generate_zen_content.py


markdown_extensions:
- admonition
- md_in_html
- pymdownx.details
- pymdownx.tabbed:
    alternate_style: true
- pymdownx.superfences:
    custom_fences:
    - name: python
      class: python
      validator: !!python/name:markdown_exec.validator
      format: !!python/name:markdown_exec.formatter
- pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
- pymdownx.arithmatex:
      generic: true
extra_javascript:
  - javascripts/katex.js
  - javascripts/extra.js
  - https://unpkg.com/katex@0/dist/katex.min.js
  - https://unpkg.com/katex@0/dist/contrib/auto-render.min.js


extra_css:
  - https://unpkg.com/katex@0/dist/katex.min.css
  - css/extra.css
