tqdm
covdefaults
duckdb
pandas
polars
pre-commit
pyarrow
pyspark; python_version < '3.12'
pyarrow-stubs
pytest
pytest-cov
pytest-randomly
pytest-env
hypothesis
hypothesis[numpy]
scikit-learn
typing_extensions
dask[dataframe]; python_version >= '3.9'
