name: Check Docs Build

on:
  pull_request:
  push:
    branches: [main]

jobs:
  mkdocs:
    strategy:
      matrix:
        python-version: ["3.11"]
        os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          enable-cache: "true"
          cache-suffix: ${{ matrix.python-version }}
          cache-dependency-glob: "**requirements*.txt"
      - name: install-reqs
        run: uv pip install --upgrade tox virtualenv setuptools pip -r requirements-dev.txt --system
      - name: install-docs-reqs
        run: uv pip install --upgrade -r docs/requirements-docs.txt --system
      - name: local-install
        run: uv pip install -e . --system
      - name: check-no-errors
        run: |
          python -m mkdocs build 2>&1 | tee output.txt
          cat output.txt
      - name: assert-no-errors
        run: python utils/check_for_no_build_errors.py
      - name: strict-docs-build
        run: mkdocs build --strict
