name: Check docstrings

on:
    pull_request:
        push:
          branches: [main]

jobs:
  check_docstrings:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install uv
        uses: astral-sh/setup-uv@v3
      - name: install-reqs
        run: uv pip install mypy -r requirements-dev.txt --system
      - name: Run docstring check
        run: python utils/check_docstrings.py