name: Tests for TPCH Queries

on:
  pull_request:
  push:
    branches: [main]

env:
  PY_COLORS: 1

jobs:
  validate-queries:
    strategy:
      matrix:
        python-version: ["3.12"]
        os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: "true"
          cache-suffix: ${{ matrix.python-version }}
          cache-dependency-glob: "pyproject.toml"
      - name: local-install
        run: |
          # once https://github.com/duckdb/duckdb/issues/16445
          # is addressed, try using `--pre`
          uv pip install -U -e ".[tests, core, dask]" --system
      - name: generate-data
        run: cd tpch && python generate_data.py
      - name: tpch-tests 
        run: cd tpch && pytest tests
