name: Test Downstream Libraries

on:
  pull_request:
  push:
    branches: [main]

jobs:
  altair:
    strategy:
      matrix:
        python-version: ["3.12"]
        os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          enable-cache: "true"
          cache-suffix: ${{ matrix.python-version }}
          cache-dependency-glob: "**requirements*.txt"
      - name: clone-altair
        run: |
            git clone https://github.com/vega/altair.git --depth=1
            cd altair
            git log
      - name: install-basics
        run: uv pip install --upgrade tox virtualenv setuptools --system
      - name: install-altair-dev
        run: |
            cd altair
            uv pip install -e ".[dev, all]" --system
      - name: install-narwhals-dev
        run: |
            uv pip uninstall narwhals --system
            uv pip install -e . --system
      - name: show-deps
        run: uv pip freeze
      - name: Run pytest
        run: |
            cd altair
            pytest tests
      - name: Run mypy
        run: |
            cd altair
            mypy altair tests

  marimo:
    strategy:
      matrix:
        python-version: ["3.12"]
        os: [ubuntu-latest]
        dependencies: ["core", "core,optional"]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          enable-cache: "true"
          cache-suffix: ${{ matrix.python-version }}
          cache-dependency-glob: "**requirements*.txt"
      - name: clone-marimo
        run: |
            git clone https://github.com/marimo-team/marimo.git --depth=1
            cd marimo
            git log
      - name: install-basics
        run: uv pip install --upgrade tox virtualenv setuptools hatch --system
      - name: install-marimo-dev
        run: |
            cd marimo
            uv pip install -e ".[dev]" --system
      - name: install-narwhals-dev
        run: |
            uv pip uninstall narwhals --system
            uv pip install -e . --system
      - name: show-deps
        run: uv pip freeze
      - name: Create assets directory, copy over index.html
        run: |
          mkdir -p marimo/marimo/_static/assets
          cp marimo/frontend/index.html marimo/marimo/_static/index.html
          cp marimo/frontend/public/favicon.ico marimo/marimo/_static/favicon.ico
      - name: hatch-envs
        run: hatch env show
      - name: Run test with minimal dependencies
        if: ${{ matrix.dependencies == 'core' }}
        run: |
            hatch run test:test -v tests/ -k "not test_cli"
      - name: Run test with optional dependencies
        if: ${{ matrix.dependencies == 'core,optional' }}
        run: |
            hatch run test-optional:test -v tests/ -k "not test_cli"
      - name: Run typechecks
        run: hatch run typecheck:check

  scikit-lego:
    strategy:
      matrix:
        python-version: ["3.11"]
        os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          enable-cache: "true"
          cache-suffix: ${{ matrix.python-version }}
          cache-dependency-glob: "**requirements*.txt"
      - name: clone-scikit-lego
        run: git clone https://github.com/koaning/scikit-lego.git --depth 1
      - name: install-basics
        run: uv pip install --upgrade tox virtualenv setuptools --system
      - name: install-scikit-lego-dev
        run: |
            cd scikit-lego
            uv pip install -e ".[test]" --system
      - name: install-narwhals-dev
        run: |
            uv pip uninstall narwhals --system
            uv pip install -e . --system
      - name: show-deps
        run: uv pip freeze
      - name: Run pytest
        run: |
            cd scikit-lego
            pytest -n auto --disable-warnings --cov=sklego -m "not cvxpy and not formulaic and not umap"

  shiny:
    strategy:
      matrix:
        python-version: ["3.12"]
        os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          enable-cache: "true"
          cache-suffix: ${{ matrix.python-version }}
          cache-dependency-glob: "**requirements*.txt"
      - name: clone-shiny
        run: |
            git clone https://github.com/posit-dev/py-shiny.git
            cd py-shiny
            git log
      - name: install-basics
        run: uv pip install --upgrade tox virtualenv setuptools --system
      - name: install-shiny-dev
        run: |
            cd py-shiny
            uv pip install -e ".[dev,test]" --system
      - name: install-narwhals-dev
        run: |
            uv pip uninstall narwhals --system
            uv pip install -e . --system
      - name: show-deps
        run: uv pip freeze
      - name: Run pytest
        run: |
            cd py-shiny
            python tests/pytest/asyncio_prevent.py
            pytest
      - name: Run mypy
        run: |
            cd py-shiny
            uv pip install mypy --system
            mypy shiny
