name: ci

on:
  pull_request:
  push:
    branches: [main]

jobs:
  minimum_versions:
    strategy:
      matrix:
        python-version: ["3.8"]
        os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Cache multiple paths
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/pip
            $RUNNER_TOOL_CACHE/Python/*
            ~\AppData\Local\pip\Cache
          key: ${{ runner.os }}-build-${{ matrix.python-version }}
      - name: install-reqs
        run: python -m pip install --upgrade tox virtualenv setuptools pip -r requirements-dev.txt
      - name: install-modin
        run: python -m pip install pandas==1.1.5 polars==0.20.3
      - name: Run pytest
        run: pytest tests --cov=narwhals --cov=tests --cov-fail-under=50 --runslow
      - name: Run doctests
        run: pytest narwhals --doctest-modules

  pandas-nightly:
    strategy:
      matrix:
        python-version: ["3.12"]
        os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Cache multiple paths
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/pip
            $RUNNER_TOOL_CACHE/Python/*
            ~\AppData\Local\pip\Cache
          key: ${{ runner.os }}-build-${{ matrix.python-version }}
      - name: uninstall pandas
        run: python -m pip uninstall pandas -y
      - name: install-modin-polars
        run: pip install modin[dask] polars
      - name: install-reqs
        run: python -m pip install --upgrade tox virtualenv setuptools pip -r requirements-dev.txt
      - name: install-pandas-nightly
        run: python -m pip install --pre --extra-index https://pypi.anaconda.org/scientific-python-nightly-wheels/simple pandas
      - name: Run pytest
        run: pytest tests --cov=narwhals --cov=tests --cov-fail-under=50 --runslow
      - name: Run doctests
        run: pytest narwhals --doctest-modules

  # polars-nightly:
  #   if: github.ref == 'refs/heads/main'
  #   strategy:
  #     matrix:
  #       python-version: ["3.12"]
  #       os: [ubuntu-latest]

  #   runs-on: ${{ matrix.os }}
  #   steps:
  #     - uses: actions/checkout@v3
  #     - uses: actions/setup-python@v4
  #       with:
  #         python-version: ${{ matrix.python-version }}
  #     - name: Cache multiple paths
  #       uses: actions/cache@v3
  #       with:
  #         path: |
  #           ~/.cache/pip
  #           $RUNNER_TOOL_CACHE/Python/*
  #           ~\AppData\Local\pip\Cache
  #         key: ${{ runner.os }}-build-${{ matrix.python-version }}
  #     - name: install-kaggle
  #       run: python -m pip install kaggle
  #     - name: Download Kaggle notebook artifact
  #       env:
  #         KAGGLE_USERNAME: ${{ secrets.KAGGLE_USERNAME }}
  #         KAGGLE_KEY: ${{ secrets.KAGGLE_KEY }}
  #       run: kaggle kernels output marcogorelli/polars-nightly
  #     - name: install-reqs
  #       run: python -m pip install --upgrade tox virtualenv setuptools pip -r requirements-dev.txt
  #     - name: uninstall polars
  #       run: python -m pip uninstall polars -y
  #     - name: install-modin-pandas
  #       run: pip install modin[dask] pandas
  #     - name: install-polars-nightly
  #       run: python -m pip install *.whl
  #     - name: Run pytest
  #       run: pytest tests --cov=narwhals --cov=tests --cov-fail-under=50
  #     - name: Run doctests
  #       run: pytest narwhals --doctest-modules
