name: ci

on:
  pull_request:
  push:
    branches: [main]

jobs:
  pytest-38:
    strategy:
      matrix:
        python-version: ["3.8"]
        os: [windows-latest, ubuntu-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install uv (Unix)
        if: runner.os != 'Windows'
        run: curl -LsSf https://astral.sh/uv/install.sh | sh
      - name: Install uv (Windows)
        if: runner.os == 'Windows'
        run: powershell -c "irm https://astral.sh/uv/install.ps1 | iex"
      - name: install-reqs
        run: uv pip install --upgrade tox virtualenv setuptools -r requirements-dev.txt --system
      - name: show-deps
        run: uv pip freeze
      - name: Run pytest
        run: pytest tests --cov=narwhals --cov=tests --cov-fail-under=90
      - name: Run doctests
        run: pytest narwhals --doctest-modules

  pytest-windows:
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12"]
        os: [windows-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install uv (Windows)
        run: powershell -c "irm https://astral.sh/uv/install.ps1 | iex"
      - name: install-reqs
        run: uv pip install --upgrade tox virtualenv setuptools -r requirements-dev.txt --system
      - name: install-modin
        run: uv pip install --upgrade modin[dask] --system
      - name: show-deps
        run: uv pip freeze
      - name: Run pytest
        run: pytest tests --cov=narwhals --cov=tests --runslow --cov-fail-under=95
      - name: Run doctests
        run: pytest narwhals --doctest-modules

  pytest-coverage:
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12"]
        os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install uv (Unix)
        run: curl -LsSf https://astral.sh/uv/install.sh | sh
      - name: install-reqs
        run: uv pip install --upgrade tox virtualenv setuptools -r requirements-dev.txt --system
      - name: install-modin
        run: uv pip install --upgrade modin[dask] --system
      - name: show-deps
        run: uv pip freeze
      - name: Run pytest
        run: pytest tests --cov=narwhals --cov=tests --cov-fail-under=100 --runslow
      - name: Run doctests
        run: pytest narwhals --doctest-modules
